<html>
  <head>

  </head>
  <body>
    <div style="overflow-x: auto;">
  <table >
    <caption>Date Pipes</caption>
      <th>Normal</th>
      <th>Long</th>
      <th>Medium</th>
      <th>Short</th>
      <th>ShortDate</th>
      <th>ShortTime</th>
    <tr>
      <td>{{date}}</td>
      <td> {{date| date: 'long' }}</td>
      <td> {{date| date: 'medium' }}</td>
      <td> {{date| date: 'short' }}</td>
      <td> {{date| date: 'shortDate' }}</td>
      <td> {{date| date: 'shortTime' }}</td>
  </tr>
  </table>  
</div>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>Grd Technologies</mat-card-title>
    <mat-card-subtitle>Where imagination meets Reality</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="/assets/grdTech.jpg">
  <mat-card-content></mat-card-content>
    <p>GRD Technologies is your ture friend in your journey to help you at every stage of your business</p>
  <mat-card-actions>
    <button mat-button color="primary">Like</button>
    <button mat-button color="primary">Delete</button>
    <div class="flex-spacer"></div>
    <button mat-icon-button><mat-icon>publish</mat-icon></button>
  </mat-card-actions>
</mat-card>
</body>
</html>    
