.flat-body{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fa-arrow-circle-left{
  color: #4CAF50;
}
.fa-arrow-circle-left:hover{
  opacity: .8;
}
h3{
  color: rgb(15, 15, 15);
  width: 50vw;
  margin-left: 20px;
}
  
.flat-picture {
    height:90vh;
    max-width: 90vw;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    border-radius: 4px;
    opacity: .8px;
    margin-bottom: 10px;
  }
 
  @media only screen and (max-width: 780px){
    .flat-picture{
      height: 15.4rem;
      background-size: contain;
      background-position: center;
      margin: 10px;
    }
    .flat-body h3{
      font-size: 15px;
    }
    .icon-mobile{
      font-size: 1pt;
      color: blue;
    }
    .flat-body{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }

  }