<div class= "fla" *ngIf="chk; else notFound"  >
      
      <div class="nextprevious">
              <div > 
                  <i class="fas fa-arrow-circle-left fa-3x" title="Go Back" (click)="goBack()" ></i>
              </div>
              <div class="nextp">
                <a (click)="goPrevious()" title="Previous"><i class="fas fa-angle-double-left fa-2x"></i></a>
                <a (click)="goNext()" title="Next"> <i class="fas fa-angle-double-right fa-2x" ></i></a>
            </div>
      </div>
      
      <div class="flat-body">
        <div class="titleGroup">
            <h3> <p> <label> Name: </label> <br> <label class="lableDetails"> {{ employeeView.name }} </label> <br>
                  <label> Price:</label> <br> <label class="lableDetails"> {{employeeView.price | currency: employeeView.priceCurrency}} </label>
                 </p> 
            </h3> 
        </div>  
      </div>

      <div class="flat-picture" 
                [style.background-image]="'url(' + employeeView.imageUrl + ')'" >
              <div (click)="goPrevious()">
                  <a class="centerGoPrevious" (click)="goPrevious()" title="Previous"><i class="fas fa-angle-double-left fa-2x"></i></a> 
              </div>
              <div (click)="goNext()">
                  <a class="centerGoNext" (click)="goNext()" title="Next"> <i class="fas fa-angle-double-right fa-2x" ></i></a>
              </div>
      </div>
</div>
  
<ng-template  #notFound  class="noRecord">
    <div  class="noRecordGoBack"> 
        <i class="fas fa-arrow-circle-left fa-3x" title="Go Back" (click)="goBack()" ></i>
    </div>
  <div class="noRecord">
     <p> No record found </p>
</div>
</ng-template>

  