<html lang="en">
<head>
  <title>Chatting Page</title>
</head>
<body>

  <div class="chatcontainer">
      Chatting Feature
  </div>
  <div class="usersSubHeading">
    <div class="pspinner" *ngIf = "displaySpinner">
      <mat-progress-spinner *ngIf = "displaySpinner"
      class="example-margin"
      [diameter]="50"
      [color]="color"
      [mode]="mode"
      [value]="value">
  </mat-progress-spinner>
</div>
  <h4>  Wellcome {{userName}}  </h4>
  <h4 *ngIf = "logoutButton"> Total online users are : {{ totalUser }}  </h4>
  <button mat-raised-button color="primary" (click)="logout()"  > {{ logoutButton ? 'Logout' : 'Login'}}  </button>
</div>
  <div class="chatwraper">
    <div class="messages"  id="messages">
      
      <label class="messageLable">Messages : </label>
      
        
        <div  class="message"   *ngFor="let msg of messages; index as i">
          <p > {{msg}}  
          <span class="time" >{{timeStamp[i]}}</span>
        </p>
        </div>
        
      </div>
      <div>
          <h4 *ngIf= "typing === userName; else notShow " > </h4>
          <ng-template #notShow>
            <h4 *ngIf="typing">  {{typing}} is Typing </h4> 
          </ng-template></div>
      <div class="chatinput" >
        
          <mat-form-field class="matInput">
            <input id="inputElement" type="text" matInput placeholder="Type New Message.." [(ngModel)]="message" (keyup.enter)="sendMessage($event)" 
                   (keyup)="UserTyping()" [disabled]="readOnly" />
            
          </mat-form-field>
          <button class="mat-button" color="primary" mat-button (click)="sendMessage($event)" [disabled]="readOnly">
            <mat-icon class="mat-icon">
              send
            </mat-icon>
          </button>
      </div>
  </div>
  
</body>
</html>