<html lang="en">
<head>
  <title>Chatting Page</title>
</head>
<body>

  <div class="chatcontainer">
      Chatting Feature
  </div>
  <h4> Online : {{ totalUser }} Users  </h4>
  <div class="chatwraper">
    <div class="messages"  id="messages">
      
      <label class="messageLable">Messages : </label>
      <h4> {{typing}} </h4>
        
        <div  class="message" *ngFor="let msg of messages">
            {{msg}}
        </div>
    </div>
    <div class="chatinput" >
      <mat-form-field class="matInput">
        <input type="text" matInput placeholder="Type New Message.." [(ngModel)]="message" (keyup.enter)="sendMessage($event)" 
               (keyup)="UserTyping()" />
        
      </mat-form-field>
      <button class="mat-button" color="primary" mat-button (click)="sendMessage($event)">
        <mat-icon class="mat-icon">
          send
        </mat-icon>
      </button>
  </div>
  </div>
</body>
</html>