<html lang="en">
<head>
  <title>Chatting Page</title>
</head>
<body>

  <div class="chatcontainer">
    Chatting Feature  
  </div>
  <div class="chatwraper">
    <div class="chatinput">
        <input type="text" placeholder="Send Messages.." [(ngModel)]="message" (keyup.enter)="sendMessage($event)" />
        <button (click)="sendMessage($event)">Send</button>
    </div>
    <div class="messages">
        <label class="messageLable">Messages :</label>
        <div class="message" *ngFor="let msg of messages">
            {{msg}}
        </div>
    </div>
  </div>
</body>
</html>