.chatcontainer{
    width:auto;
      background:linear-gradient(20deg ,#033d2a , #572035);
      color:white;
      padding: 16px;
      height: 30px;
      align-items: center;
      align-content: center;
      justify-content: center;
      justify-items: center;
      margin-bottom: 3px;
      opacity: .8px;
      text-align: center;
      font-size: 2rem;
      letter-spacing: 3px;
  }
  .chatwraper{
      display: block;
      margin: auto;
      border: 2px solid black;
      height: 75vh;
  }
  .chatinput{
      display: flex;
      margin: 5px;
      height: 10%;
      background: rgb(241, 236, 241);
      justify-content: space-between;
      justify-items: center;
      color:black;
      padding: 10px;
  }
  .matInput{
      width: 85%;
  }

  /*  input[type="text"]{
    padding: 10px;
    font-size: 17px;
    border: 0px solid grey;
    float: left;
    width: 100%;
    background-color: #f1f1f1;
  } */

 /* .chatinput button{
      background-color: #572035;
      color:white;
      border: none;
      margin-left: 10px;
      width: 11%;
    border-radius: 10px;
    text-transform: uppercase;
    padding: .4em;
    cursor: pointer;
    letter-spacing: 3px;
    font-family: 'Montserrat';
    font-weight: 600;
  } 
  .chatinput button:hover{
      background-color: #5c2c3e;
      font-weight: 300px;
  } */
  .mat-icon{
    height:48px !important;
    width:48px !important;
    font-size:40px !important;
}
  .messages{
      height: 80%;
      overflow-y: scroll;
      margin: 5px;
      border: 1px solid pink;
      text-align: center;
  }
  .usersSubHeading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    background: linear-gradient(20deg,pink, rgb(97, 74, 74) );
    padding: 5px;
    box-shadow:3px 3px 5px 6px #ccc;
  }
  h4{
    margin:1px;
    margin-bottom: 5px;
    text-align: center;
    color: #fa1111;
  }
  .messageLable{
        font-weight: bold;
        align-items: center;
        margin-bottom:5px;
        width: 100%;
        text-align: center;

        justify-content: center;
  }

  .message{
    margin:5px;
    width: 57%;
    text-align: left;
  }
  .message p{
    display: inline-block;
    width: auto;
    font-weight: 500;
    margin: 0;
    font-size: 1em;
    padding: 10px 5px 5px 5px ;
    background-color: #E8EAF6;
    background: rgb(201, 210, 241) none repeat scroll 0 0;
    border-radius: 20px; 
    word-break: break-word;
  }
  
  .time{
    color:#777;
    display: block;
    font-size: 12px;
    margin: 20px 15px 0;
    float: right;
    bottom:5px;
  }
  
  @media only screen and (max-width: 770px){
      .chatwraper{
        flex-direction: column-reverse;
        height: 85vh;
        width: 95vw;
        padding-bottom:3px;
      }
      .usersSubHeading{
        display: flex;
        text-align: center;
      }
      h4{
        font-size: 1rem;
      }
      .matInput{
        width: 85%;
      }
      .chatinput{
          flex:0 0 10%;
          height: 17%;
          text-align: left;
          position: relative;
          bottom: 0px;
      }
      .chatinput input{
        width: 100%;
      }
      .mat-button{
        margin-left: 5px;
        padding: 5px 0 0 0;
          width: auto;
      }
      .mat-icon{
        height:30px !important;
        width:auto !important;
        font-size:35px !important;
        float: right;
    }

      .messages{
       height: 75%; 
      }
      
  }
  @media only screen and (max-width: 500px){
    .usersSubHeading{
      display: block;
      text-align: center;
    }
    h4{
      font-size: .9rem;
    }

    .message  {
      width:auto;
    }
    .message p{
      font-size: .9em;
    }
}