.chatcontainer{
    width:auto;
      background:linear-gradient(20deg ,#033d2a , #572035);
      color:white;
      padding: 16px;
      height: 30px;
      align-items: center;
      align-content: center;
      justify-content: center;
      justify-items: center;
      margin-bottom: 10px;
      opacity: .8px;
      text-align: center;
      font-size: 2rem;
      letter-spacing: 3px;
  }
  .chatwraper{
      display: block;
      margin: auto;
      border: 2px solid black;
      height: 75vh;
  }
  .chatinput{
      display: flex;
      margin: 5px;
      height: 10%;
      background: rgb(241, 236, 241);
      justify-content: space-between;
      justify-items: center;
      color:black;
      padding: 10px;
  }
  input[type="text"]{
    padding: 10px;
    font-size: 17px;
    border: 0px solid grey;
    float: left;
    width: 100%;
    background-color: #f1f1f1;
  }
  .chatinput button{
      background-color: #572035;
      color:white;
      border: none;
      margin-left: 10px;
      width: 11%;
    border-radius: 10px;
    text-transform: uppercase;
    padding: .4em;
    cursor: pointer;
    letter-spacing: 3px;
    font-family: 'Montserrat';
    font-weight: 600;
  }
  .chatinput button:hover{
      background-color: #5c2c3e;
      font-weight: 300px;
  }
  .messages{
      height: 80%;
      overflow-y: scroll;
      margin: 5px;
      border: 1px solid pink;
      text-align: center;
  }
  .messageLable{
        font-weight: bold;
        align-items: center;
        margin-bottom:5px;
        width: 100%;
        text-align: center;

        justify-content: center;
  }
  .message{
      font-weight: 100;
      margin: 5px;
      text-align: left;
      background-color: #E8EAF6;
  }
  @media only screen and (max-width: 770px){
      .chatwraper{
        flex-direction: column-reverse;
        height: 85vh;
        width: 95vw;
      }
      .chatinput{
          flex:0 0 10%;
          text-align: left;
      }
      .chatinput input{
      }
      .chatinput button{
          width: auto;
      }

      .messages{
       flex-basis: 75%; 
      }
  }
