<mat-progress-bar mode="indeterminate" value=80 *ngIf="isWait" > </mat-progress-bar>
<!--
<div *ngIf = "cooking$ | async as re ; else loading" >
  <div *ngFor="let c of re.recipes"> 
      {{c.title}}
  </div>
</div>
<ng-template #loading>Loading...</ng-template>
-->
<div class="flex">
  <!--  here Cooking$ is Observable property comes from cooking-service. By applying async pipe it will subcribe to data 
        automatically so no need to subcribe from component and no worries for unSunscribing data...
        here, we get cooking$.recipes array so we need to traverse each using *ngFor  -->
<ng-container *ngIf="cooking$ | async as cookingg"> 
  <ng-container class="flexc" *ngFor="let recipe of cookingg.recipes ; index as i">
      <ng-container *ngIf="recipe.title.trim().toLowerCase().includes(cookingRecipe.getSearchByItemName().trim().toLowerCase())"
      >
    <!--  <ng-container *ngIf= "cookingRecipe.getSearchByItemName() ; else reset;" > {{ counterSearchResult() }} </ng-container>
      <ng-template #reset> {{ resetCounter() }} </ng-template> -->
    
      <div class="recipe-card">
      
      <div class="recipe-image" [title]="recipe.title"  [style.background-image]="'url(' + recipe.image_url + ')'"> </div> 
      
      <div class="recipe-details" >
        <h4><label>Item Name </label></h4>
          <p [innerHTML]="highlight(recipe.title)">  {{recipe.title}}</p> 
          <h4> <label>Publisher </label></h4>   
          <p> {{recipe.publisher}}</p>
          <h4> <label>Social Rank </label></h4>   
          <p> {{recipe.social_rank}}</p>
          <div class="div-button">
            <button class="recipe_buttons" (click)="getRecipe(recipe.recipe_id)"> 
                    Get Recipe <i class="fas fa-info-circle"></i>
            </button></div>
      </div>
    </div>
  </ng-container>

  
</ng-container>
</ng-container>
</div>
