.flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;  
    margin: 2px;
    height: auto;
    width: fit-content;

}
.recipe-card{
  flex: 0 1  calc(50% - 5px );
  box-shadow: 10px 0px 8px rgba(0, 0, 0, 0.3),
  -10px 0px 10px rgba(0,0,0,0.3);
  transition: all 0.3s ease;
  border-bottom: 4px solid rgba(0, 0, 12, 0.8);
  background-clip: padding-box;
  margin-bottom:5px;
  border-radius: 15px 15px 0 0;
}

.recipe-details{
  padding:10px;

}
.recipe-image{
  height: 11.4rem;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}
h4{
  margin:0;
  color:#c9582f;
  font-weight: bold;
}
.viewport-example{
  height: 100vh;
}
p{
  margin:5px;
  font-weight: 600;
  color: #262b35;
  
}
:host ::ng-deep .highlightText {
  background: yellow;
  }
.recipe_buttons {
  border: solid 2px #c9582f;
  color: #262b35;
  background: transparent;
  padding: 0.4rem 0.6rem;
  margin: 0 0.2rem;
  border-radius: 1px;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: .8rem;
  text-align: center;
  float:right;
  cursor: pointer;
}
.recipe_buttons:hover{
  background-color: #c9582f;
  color: black;
}

/*  .flex div{
    flex:1 0 calc(40% - 30px);
    margin-bottom: 1x;
    border-radius: 1px;
    padding:10px;
    box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.3),
                -50px 0px 40px rgba(0,0,0,0.3);
    transition: all 0.3s ease;
}*/
@media screen and (max-width:450px){
  .flex{
    display: block;
  }
  .recipe-card{

  }
  .viewport-example{
    height: 100vh;
  }
  .recipe-details{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    
  }
  h4{
    font-size: 15px;
    text-align: center;
  }
  p{
    text-align: center;
    font-size: 14px;
  }
  .div-button{
    text-align: center;
  }
  .recipe_buttons{
    float: none;
    margin-bottom: 0;
  }
}


@media screen and (min-width: 60em) {
   
  .recipe-card {
      flex: 0 1 calc(25% - 1em);
   }
   .viewport-example{
    height: 100vh;
  }
}
@media screen and (min-width: 40em) {
  .flex {
    display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
 }

  .recipe-card {
    flex: 0 1 calc(50% - 5px);
  }
  .viewport-example{
    height: 100vh;
  }
}

@media screen and (min-width: 52em) {
  .viewport-example{
    height: 100vh;
  }
}