<html>
<head></head>
<body>
<div class="shopping-topnavbar" [ngStyle]="{'width':w}" >
    <a [routerLink]="['/shopping/shopping-topbar']">
      <h1>My Store</h1>
    </a>
    <a [routerLink]="['cart']" class="button fancy-button" [ngStyle]="{'padding':padding}"> <i class=" fas fa-shopping-cart"> </i>Checkout</a>
    <a [routerLink]="['cart']" class="button fancy-button"> 
      <mat-icon class="mIcon" matBadge="12345678" matBadgeOverlap="true" matBadgeColor="warn">
       shopping_cart
      </mat-icon>
    </a>
</div>
<section>
    <div class=".shopping-container">
      <router-outlet ></router-outlet>
     <!-- <app-product-list></app-product-list> -->
    </div>
</section>
</body>
  </html>