<html>
<head>
  <title>Cooking Recipe</title>
</head>
<body>
    <div class="cookingcontainer">
      
          <div class="float-left">
              <a [routerLink]="['/cooking']" > <h1>Cooking</h1></a>
          </div>

          <div class="float-right">
              <input type="text" placeholder="Search Item by Name.." name="search" 
              (input)="searchRecipeByName($event.target.value)"
                     title="Search recipe by Item Name matches..." 
              >
              <i class="fa fa-search fa-2x"></i>
          </div>
    </div>
    
    <section>
        
          <router-outlet (activate)="onActivate($event)"></router-outlet>
        
    </section>
</body>
</html>