router-outlet + *  {
    padding: 0 16px;
  }
section{
    width: auto;
    margin: 0 0;
  }

.cookingcontainer{
  width:auto;
    background:linear-gradient(Green, #f06d06);
    color:white;
    padding: 16px;
    height: 40px;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    margin-bottom: 10px;
    opacity: .8px;
}
.float-left{
  float: left;
}
.float-right{
  float: right;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  background-color: #f1f1f1;
}
input[type="text"]{
  padding: 10px;
  font-size: 17px;
  border: 0px solid grey;
  float: left;
  width: 70%;
  background-color: #f1f1f1;
}

 i{
  float: right;
  padding: 10px;
  color: #2196F3;   
  font-size: 22px;
  border-left: none; /* Prevent double borders */
}
button:hover{
  background: #0b7dda;
}
form.example::after {
  content: "";
  clear: both;
  display: flex;
}
a {
    cursor: pointer;
    text-decoration: none;
    padding:0.5em;
    color: white;
    float:left;  
    letter-spacing: 3px;
     
  }
    
  a:hover {
    opacity: 0.8;
  }
  
.cookingcontainer h1{
    margin:0px;
    font-size: 25px;
}
@media only screen and (max-width: 499px){
  .cookingcontainer{
    padding: 5px;
  }
  a{
    letter-spacing: 0px;
  }
  .cookingcontainer h1{
    font-size: 20px;
  }
  
}
@media only screen and (max-width: 380px){
  .cookingcontainer{
    height: 45px;
  }
  a {
    padding: .2em;
  }
  .float-right{
    float: left;
    width:70%;
  }
  input[type="text"]{
    padding: 8px;
  font-size: 15px;
  border: 0px solid grey;
  width:70%;
  background-color: #f1ebeb;
  font-weight: bold;
  }
  i{
    float: right;
  padding: 12px;
  color: #2196F3;
  font-size: 20px;
  }
}
