<h2>  <i class="fas fa-database" title="Data of API calling"></i> Hotels of Paris City <i class="fas fa-map-marker-alt" (click)="showMapView()" tooltip="Paris City on Map"></i></h2>
<mat-progress-bar mode="indeterminate" value=80 *ngIf="isWait"></mat-progress-bar>
<h4 *ngIf="errorMessage">{{ errorMessage }}</h4>
<div class= "flats">
     <div class="flat" *ngFor = "let employee of Employee; index as i; first as first;  last as last">
          
            <div id="myImage" (click)="details(employee,i, first, last)" class="flat-picture" 
                             title ="employee.name + ' Tooltip: Click here for more details.. '"
                              tooltipClass="example-tooltip-red"
                  [style.background-image]="'url(' + employee.imageUrl + ')'" > 
            </div>
            <!--  <img style="vertical-align: middle" [src] = "employee.imageUrl" class="flat-picture" /> --> 
            <div class="card-body" >
                  <ul >
                         <li> <p (click)="details(employee,i, first, last)"> {{ employee.name }} - {{ employee.price  | currency : employee.priceCurrency }} </p></li>
                         <li><i class="fas fa-info-circle"  title="Show More.."  (click)="detailsData(employee,i)"></i></li>
                  </ul>
             </div>
     </div>
</div>
<div id="maps" class="map">
      <span class="map-close" title="Close" (click)="closeMapView()" >X</span>
      <agm-map (mapClick)="close_window()" [latitude] = 48.8566 [longitude] = 2.3522 [zoom]="11"> "'url(' + employee.imageUrl + ')'"
                  <agm-marker  *ngFor="let marker of Employee" [label]="{text: 'i', color: '#FFFFFF', fontSize: '20px'}"  
                              [latitude]=marker.lat [longitude]=marker.lng (markerClick)="select_marker(infoWindow)">
                              <agm-info-window class="marker-container" [disableAutoPan]="false" #infoWindow>
                                          <div class="marker-info"> 
                                                <label class="marker-label">Name</label> <br> 
                                                <p class="marker-text"> {{marker.name}} </p>
                                                <div class="marker-infot-price">
                                                      <label class="marker-label">Price</label> {{ marker.price  | currency : marker.priceCurrency }}  
                                                </div>
                                               <img class="map-info-image" [src]="marker?.imageUrl">
                                          </div>
                              </agm-info-window>
                  </agm-marker>
      </agm-map>
</div>
<div id="myModal" class="modal" >
      <span class="close" title="Close" (click)="close()" >X</span>
       <img class="modal-content" *ngIf="imageSrc" alt="Image" [src]="imageSrc" id="image01">
      <div id="caption">
            <i class="fas fa-arrow-circle-left fa-3x previous" title="Go Previous" (click)="goPrevious()"  ></i>
            <i class="fas fa-arrow-circle-right fa-3x next" title="Go Next" (click)="goNext()"  ></i>
      </div>
</div>

<!--<button class="btnstyle" (click)="firstClick()">Click me</button> -->
