h1, h2{
  text-align: center;
  color: royalblue;
}
.flats {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  margin: 10px;
  height: 100vh;
}

.flat {
  /*flex-basis: calc(50% - 20px);*/
  flex:0 0 calc(50% - 10px);
  margin: 10x;
  
  border-radius: 1px;
  box-shadow: 20px 0px 40px rgba(0, 0, 0, 0.3),
              -20px 0px 40px rgba(0,0,0,0.3);
  transition: all 0.3s ease;
}
.flat:hover {
  margin-top: -5px;
  color:rgb(236, 14, 14);
  font-weight: bold;
  border-radius: 4px;
  border:1px solid royalblue;
  opacity: .8px;
}
.flat-picture {
  height: 11.4rem;
  background-size: cover;
  background-position: center;
  margin: 0px;
  
}
.flat-title {
  font-weight: bold;
  margin: 30px;
}
.card-body ul{
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  opacity: .9;
  align-content: center;
  align-items: center;
  padding-left: 5px;
}

.card-body ul li{
  list-style-type: none;
  margin-right: 10px;
}
.card-body ul li p, i{
  font-size: 15px;
  font-weight: bold;
  opacity: 0.9;
  margin: 0px;
}
.card-body ul li i:hover{
  color:rgb(14, 6, 63);
  opacity: 1;
  font-size: 20px;
}

.card-btn {
  display: block;
  justify-content: flex-end;
  color: white;
  padding: 5px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 15px;
  background: royalblue;
}
.card-btn:hover{
  opacity: 1;
  background: #3ac162;
  text-decoration: none;
  color: white;
}


  .divbtnstyle{
      padding: 5px;
      margin-left: 0px;
      margin-right: 10px;
  }
  .btnstyle{
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 5px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 26px;
      margin-left: 0px;
      border-radius: 4px;
      transition-duration: 0.4s;
      width: 97.5%;
      height: 40px;
    }

  .btnstyle:hover{
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */
  }

  @media only screen and (max-width: 780px){
    .flats{
      display: block;
    }
  }