<h1>Home component</h1>
<h2>Data of API calling</h2>
<h4>{{ errorMessage }}</h4>
<div class= "flats">
     <div class="flat" (click)="detailsData(employee,i)" *ngFor = "let employee of Employee; index as i">
          
            <div class="flat-picture" [title]="employee.name + ' Tooltip: Click here for more details.. '"
                  [style.background-image]="'url(' + employee.imageUrl + ')'" > 
            </div>
            <!--  <img style="vertical-align: middle" [src] = "employee.imageUrl" class="flat-picture" /> --> 
            <div class="card-body" >
                  <ul>
                         <li> <p> {{ employee.name }} - {{ employee.price  | currency : employee.priceCurrency }} </p></li>
                          <li><i class="fas fa-info-circle"></i></li>
                  </ul>
             </div>
     </div>
      
</div>

<!--<button class="btnstyle" (click)="firstClick()">Click me</button> -->



