.mat-toolbar{
    background:linear-gradient(20deg,#470606,#436c43);
    text-align: center;
    letter-spacing: 3px;
    justify-content: center;
    height: auto;
    }

.example-container {
    display: flex;
    flex-direction: column;
    max-height: 85vh;
    min-width: 300px;

}
.mat-table {
    overflow: auto;
    max-height: 500px;
  }
  .mobile-label {
    display: none;
  }
  .hide{
      display: none;
  }
  mat-footer-row mat-footer-cell{
      justify-content: center;
      font-style: italic;
      font-weight: 600;
  }
  .mat-row.highlighted {
    background-color:#f5f5f5;
    cursor: pointer;
  }
  .div-word-break {
    word-break: break-word;
    padding-right: .5rem;
  }
  
  tr.mat-footer-row {
    border: 1px solid #e7e7e7;
    font-weight: bold;
    height: 10px !important;
}
  @media(max-width: 780px) {
    .example-container {
      max-height: 100vh;
    }
    .div-word-break{
        word-break: break-word;
        width: 60%;
        letter-spacing: 1px;
        text-align: left;
        color: #1b1b32;
        font-size: 1rem;
        font-weight: 500;
    }
    .div-span{
        width: 40%;
        text-align: left;
    }
    .div-span p{
        margin: 0;
        letter-spacing: 1px;
        opacity: .9;
    }
    .mobile-label{
        padding-right: 10px;
        display: inline-block;
        font-weight: 600;
    }
    .mat-cell:first-of-type{
        padding: 0;
    }
    .mat-cell{
        width: 100%;
        display: flex;
        justify-content: space-between;
        min-height: 30px;
        border-bottom: 1px solid #c6bcbc;
    }
    .mat-cell:last-child{
      border-bottom: 0;
    }
    .mat-header-row {
        display: flex;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 3px #445f3b;
        margin: 3px;
        letter-spacing: 1px;
    }
    mat-paginator{
      border-radius: 10px;
      box-shadow: 0px 0px 10px 3px #445f3b;
      margin: 3px;
      position: sticky;
      bottom: 0;
    }
    
    .mat-row { 
        flex-direction: column;
        align-items: start;
        padding: 8px 24px;
        min-height: auto;
        border-bottom: 1px solid gray;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 3px #445f3b;
        margin: 3px;
      }
    .tableActions{
        width: 100%;
        text-align: right;
        /* padding: 5px; 
        border-radius: 10px;
        margin: 1em 1em .5em 1em;
        box-shadow: 1px 1px 5px 0px #673AB7;
        */
    }

  }
