<mat-toolbar color="primary" class="mat-toolbar">
  {{title}}  
</mat-toolbar>

<form [formGroup]="formGroup" class="mat-form" #formDirective="ngForm" (ngSubmit)="onSubmit()"  >
   <div class="indicator" id="loader"> 
    <mat-progress-spinner *ngIf = "displaySpinner"
      class="example-margin"
      [diameter]="50"
      [color]="color"
      [mode]="mode"
      [value]="value"
      style="margin: 0 auto;">
    </mat-progress-spinner>
  </div>
  <mat-grid-list [cols]="breakPoint" rowHeight="300px" (window:resize)="onResize($event)">
    <!-- breakPoint is variable for dividing grid colomn to row in mobile view fires onResize()function   -->
      <mat-grid-tile>
      <div class="form-control-container">
        <input type="hidden" formControlName="key">
        <mat-form-field>
          <input id="fullname" formControlName="fullname" matInput placeholder="Full Name*">
          <ng-container *ngIf="!editData"  matSuffix>
          <button mat-button matSuffix mat-icon-button
                 *ngIf="!formGroup.controls['fullname'].value == '' ">
            <mat-icon>close</mat-icon>
          </button>
        </ng-container>
            <mat-error>Full Name is compulsary to enter</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input formControlName="email" matInput placeholder="Email">
            <ng-container *ngIf="!editData"  matSuffix>
            <button mat-button matSuffix mat-icon-button area-label="Clear" 
                    *ngIf="!formGroup.controls['email'].value == '' ">
                <mat-icon>close</mat-icon>
              </button>
            </ng-container>
            <mat-error>Invalid Email address</mat-error>
          </mat-form-field>
          <mat-form-field>
              <input formControlName="mobile" matInput placeholder="Mobile*">
            <ng-container *ngIf="!editData"  matSuffix>
              <button mat-button mat-icon-button area-label="Clear" 
                      *ngIf="!formGroup.controls['mobile'].value == ''  ">
                  <mat-icon>close</mat-icon>
                </button>
              </ng-container>
              <mat-error *ngIf="formGroup.controls['mobile'].errors?.required">Mobile Number is compulsary to enter</mat-error>
              <mat-error *ngIf="formGroup.controls['mobile'].errors?.minlength">10 numbers needed to enter</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input formControlName="city" matInput placeholder="City">
                <ng-container *ngIf="!editData"  matSuffix>
                <button mat-button matSuffix mat-icon-button area-label="Clear" 
                        *ngIf="!formGroup.controls['city'].value == '' ">
                    <mat-icon>close</mat-icon>
                  </button>
              </ng-container>
              </mat-form-field>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="form-control-container">
          <div class="add-bottom-padding">
            <mat-radio-group formControlName="gender">
              <mat-radio-button value="1">Male</mat-radio-button>
              <mat-radio-button value="2">Female</mat-radio-button>
              <mat-radio-button value="3">Other</mat-radio-button>
            </mat-radio-group>
          </div>
          <mat-form-field>
            <mat-select formControlName="department" placeholder="Department">
              <mat-option>
                none
              </mat-option>
                <ng-container *ngFor="let dep of departments">
                    <mat-option value="{{dep.id}}">{{dep.value}}</mat-option>
                </ng-container>

            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <input formControlName="hireDate" matInput [matDatepicker]="picker" placeholder="Hire Date">
            <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <div class="add-bottom-padding">
            <mat-checkbox formControlName="isPermenent">Permenent Employee</mat-checkbox>
          </div>
          <div class="button-row">
            <button  mat-raised-button color="primary"  type="submit" [disabled]="!formGroup.valid "> Submit</button>
            <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
            <button mat-raised-button color="primary" (click)="readdata()" *ngIf = "editDataTitle ==''"> getData </button>
          </div>
        </div>
    </mat-grid-tile>
</mat-grid-list>
</form>

<div id="myModal" class="modal">
    <span class="close" title="Close" (click)="close()" >X</span>
    <div class="shadow">
        <div class="labelFlex">
            <div class="dataread-label"> <label >Full Name</label> </div>
            <div class="dataread-label"> <label>City</label> </div>
        </div>
        <div class="dataread" *ngFor="let read of dataRead; first as f" > 
            <div class="dataread-flex"> <p>{{read.fullname}} </p></div> 
            <div class="dataread-flex"><p>{{read.city}}</p></div>
        </div>
        </div>
</div>





